<% layout("/layouts/boilerplate") %>




    <div class="container mt-5">

        <h3 class="mb-4">
            Search Results for "
            <%= title %>"
        </h3>

        <div class="row">

            <% if(listings.length === 0){ %>
                <h5 class="text-muted">No listing found.</h5>
                <% } %>

                    <% listings.forEach(listing => { %>

                        <div class="col-md-4 mb-4">
                            <div class="card shadow">

                                <img src="<%= listing.image.url %>" class="card-img-top" style="height:22rem; object-fit:cover;">

                                <div class="card-body">
                                    <h5>
                                        <%= listing.title %>
                                    </h5>
                                    <p>₹
                                        <%= listing.price %> / night</p>

                                    <a href="/listings/<%= listing._id %>" class="btn btn-dark w-100">
                        View
                    </a>
                                </div>

                            </div>
                        </div>

                        <% }) %>

        </div>
    </div>